* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 10px;
}


/*-----------------------------------nav bar------------------------------*/

.nav {
   display: grid;
   background-color: #96ceb4;
   grid-column: span 12;
   grid-template-rows: 5rem;
}

/*-----------------------------------header------------------------------*/

.header {
  display: grid;
  grid-template-columns: repeat (12, 1fr);
  grid-template-rows: 25rem;
  background-color: #ff6f69;
  grid-column: span 12;

}

/*-----------------------------------product pics------------------------------*/

.product-container {
  display: flex;
}

.product-container > div {
  flex: 1;
  height: 250px;

}

.product-container > div:nth-child(1) {
  background-color: #f2a1db;
}

.product-container > div:nth-child(2) {
  background-color: #b5f2a1;
}

.product-container > .content-pic1 {
  flex: 2;
}

/*-----------------------------------project specs------------------------------*/
.project-specs {
  display: flex;
}

.project-specs > div {
  flex: 1;
  height: 250px;

}

.project-specs > div:nth-child(1) {
  background-color: #a1b7f2;
}

.project-specs > div:nth-child(2) {
  background-color: #f2e4a1;
}

.project-specs > div:nth-child(3) {
  background-color: #a2eef1;
}

/*-------------------------------Problem & Solution------------------------*/

.problem-sol {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #ad48f7;
}

/*-----------------------------------Design Process------------------------------*/
.design-process {
  display: grid;
  grid-column: span 12;
  height: 200px;
  background-color: #ccf76e;

}

/*-----------------------------------Research & Define------------------------------*/
.research-define {
  display: grid;
  grid-column: span 12;
  height: 200px;
  background-color: #70f76e;

}

/*------------------------------Competitive Anlaysis-------------------------*/
.comp-analysis {
  display: flex;
}

.comp-analysis > div {
  flex: 1;
  height: 250px;

}

.comp-analysis > div:nth-child(1) {
  background-color: #a1b7f2;
}

.comp-analysis > div:nth-child(2) {
  background-color: #f2e4a1;
}

.comp-analysis > div:nth-child(3) {
  background-color: #a2eef1;
}

/*-----------------------------------Research & Define------------------------------*/

.comp-analysis-text {
  display: grid;
  grid-column: span 12;
  height: 200px;
  background-color: #d4b8ea;

}


/*-----------------------------------project specs------------------------------*/
.user-survey-stats {
  display: flex;
}

.user-survey-stats > div {
  flex: 1;
  height: 150px;

}

.user-survey-stats > div:nth-child(1) {
  background-color: #a1b7f2;
}

.user-survey-stats > div:nth-child(2) {
  background-color: #f2e4a1;
}

.user-survey-stats > div:nth-child(3) {
  background-color: #a2eef1;
}



/*-----------------------------------User Research Graph 1------------------------------*/
.user-graph-1 {
  display: grid;
  grid-column: span 12;
  height: 200px;
  background-color: #f882db;

}


/*------------------------------Top Cloud Uses-------------------------*/
.top-uses-cloud {
  display: flex;
}

.top-uses-cloud > div {
  flex: 1;
  height: 250px;

}

.top-uses-cloud > div:nth-child(1) {
  background-color: #a1b7f2;
}

.top-uses-cloud > div:nth-child(2) {
  background-color: #f2e4a1;
}

.top-uses-cloud > div:nth-child(3) {
  background-color: #a2eef1;
}


/*-----------------------------------User Research Graph 2------------------------------*/

.user-graph-2 {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #70f76e;

}


/*------------------------------Top Cloud Uses-------------------------*/
.user-persona {
  display: flex;
}

.user-persona > div {
  flex: 1;
  height: 400px;

}

.user-persona > div:nth-child(1) {
  background-color: #a1b7f2;
}

.user-persona > div:nth-child(2) {
  background-color: #f2e4a1;
}


/*-----------------------------------User Stories----------------------------*/

.user-stories-text {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #70f76e;

}


/*--------------------------------Info Architecture-----------------------*/

.information-architecture {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #febf24 ;

}


/*------------------------------Organization Flow-----------------------*/

.organization-flow {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #89f9f2;


}


/*------------------------------Collaboration Flow-----------------------*/

.collab-flow {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #ffdde9;


}


/*------------------------------Site Map-----------------------*/

.sitemap {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #dde7ff;


}


/*------------------------------Sketches-----------------------*/

.sketches {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #ffebce;


}


/*----------------------------Sketch Pics-------------------------*/
.sketch-pics {
  display: flex;
}

.sketch-pics > div {
  flex: 1;
  height: 200px;

}

.sketch-pics > div:nth-child(1) {
  background-color: #ff9546;

}

.sketch-pics > div:nth-child(2) {
  background-color: #b1ff46;

}


/*------------------------------Wireframes(low)-------------------------*/
.wireframes1 {
  display: flex;
}

.wireframes1 > div {
  flex: 1;
  height: 200px;

}

.wireframes1 > div:nth-child(1) {
  background-color: #a1b7f2;
}

.wireframes1 > div:nth-child(2) {
  background-color: #f2e4a1;
}


.wireframes1 > div:nth-child(3) {
  background-color:  #c0fceb;

}



/*------------------------------Wireframes(low)-------------------------*/
.wireframes2 {
  display: flex;
}

.wireframes2 > div {
  flex: 1;
  height: 200px;

}

.wireframes2 > div:nth-child(1) {
  background-color: #f6c0fc;

}

.wireframes2 > div:nth-child(2) {
  background-color: #b3fda9;

}


.wireframes2 > div:nth-child(3) {
  background-color: #a9fdfb;


}

/*------------------------------Wireframes(low)-------------------------*/
.wireframes3 {
  display: flex;
}

.wireframes3 > div {
  flex: 1;
  height: 200px;

}

.wireframes3 > div:nth-child(1) {
  background-color: #ff9546;

}

.wireframes3 > div:nth-child(2) {
  background-color: #b1ff46;

}

/*----------------------------User Testing Round 1-----------------------*/

.user-test-round1 {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #ffebce;


}

/*------------------------------User Test Pic------------------------*/
.user-test-pic {
  display: flex;
}

.user-test-pic > div {
  flex: 1;
  height: 200px;

}

.user-test-pic > div:nth-child(1) {
  background-color: #ff9546;

}

.user-test-pic > div:nth-child(2) {
  background-color: #b1ff46;

}

/*----------------------------User Testing Round 1 a-----------------------*/

.user-test-round1-a {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #46f7ff;


}

/*------------------------------Wireframes(low)-------------------------*/
.user-test-pic-a {
  display: flex;
}

.user-test-pic-a > div {
  flex: 1;
  height: 200px;

}

.user-test-pic-a > div:nth-child(1) {
  background-color: #ff9546;

}

.user-test-pic-a > div:nth-child(2) {
  background-color: #b1ff46;

}

/*----------------------------Branding & Identity-----------------------*/

.branding-identity {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #46f7ff;


}

/*------------------------------Canopy Principles-------------------------*/
.canopy-principles {
  display: flex;
}

.canopy-principles > div {
  flex: 1;
  height: 200px;

}

.canopy-principles > div:nth-child(1) {
  background-color: #f6c0fc;

}

.canopy-principles > div:nth-child(2) {
  background-color: #b3fda9;

}


.canopy-principles > div:nth-child(3) {
  background-color: #a9fdfb;


}

/*----------------------------Color Palette & Typography-----------------------*/

.color-typography {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #46f7ff;


}

/*----------------------------Logo Development-----------------------*/

.logo {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #9ba5ff;


}

/*----------------------------Visual Design-----------------------*/

.visual-design {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #ffb8d8;


}


/*----------------------------Preference Testing-----------------------*/

.preference-testing {
  display: grid;
  grid-column: span 12;
  height: 300px;
  background-color: #b8ffef;


}

/*------------------------------Preference Test Pic-------------------------*/
.preference-test-new {
  display: flex;
}

.preference-test-new > div {
  flex: 1;
  height: 200px;

}

.preference-test-new > div:nth-child(1) {
  background-color: #ff9546;

}

.preference-test-new > div:nth-child(2) {
  background-color: #b1ff46;

}


/*------------------------------Preference Test Pic-------------------------*/
.preference-test-link {
  display: flex;
}

.preference-test-link > div {
  flex: 1;
  height: 200px;

}

.preference-test-link > div:nth-child(1) {
  background-color: #b8e0ff;

}

.preference-test-link > div:nth-child(2) {
  background-color: #ffb8f2;

}


/*------------------------------Preference Test Pic-------------------------*/
.preference-test-success {
  display: flex;
}

.preference-test-success > div {
  flex: 1;
  height: 200px;

}

.preference-test-success > div:nth-child(1) {
  background-color: #b8ffd6;

}

.preference-test-success > div:nth-child(2) {
  background-color: #b8bbff;

}

/*----------------------------Preference Testing-----------------------*/

.user-test-round2 {
  display: grid;
  grid-column: span 12;
  height: 100px;
  background-color: #fcffb8;



}

/*------------------------------Preference Test Pic-------------------------*/
.user-test-round2-change {
  display: flex;
}

.user-test-round2-change > div {
  flex: 1;
  height: 200px;

}

.user-test-round2-change > div:nth-child(1) {
  background-color: #b8ffd6;

}

.user-test-round2-change > div:nth-child(2) {
  background-color: #b8bbff;

}

/*----------------------------Preference Testing-----------------------*/

.user-test-tag-final {
  display: grid;
  grid-column: span 12;
  height: 250px;
  background-color: #fcffb8;



}

/*----------------------------Preference Testing-----------------------*/

.conclusion {
  display: grid;
  grid-column: span 12;
  height: 100px;
  background-color: #97fad4;




}



/*------------------------------Conclusion Pics Row 1-------------------------*/
.conclusion-pic-row1 {
  display: flex;
}

.conclusion-pic-row1 > div {
  flex: 1;
  height: 200px;

}

.conclusion-pic-row1 > div:nth-child(1) {
  background-color: #b8ffd6;

}

.conclusion-pic-row1 > div:nth-child(2) {
  background-color: #b8bbff;

}


/*------------------------------Conclusion Pics Row 2-------------------------*/
.conclusion-pic-row2 {
  display: flex;
}

.conclusion-pic-row2 > div {
  flex: 1;
  height: 200px;

}

.conclusion-pic-row2 > div:nth-child(1) {
  background-color: #b8bbff;

}

.conclusion-pic-row2 > div:nth-child(2) {
  background-color: #b8ffd6;

}

/*------------------------------Conclusion Pics Row 2-------------------------*/
.conclusion-pic-row3 {
  display: flex;
}

.conclusion-pic-row3 > div {
  flex: 1;
  height: 200px;

}

.conclusion-pic-row3 > div:nth-child(1) {
  background-color: #b8ffd6;

}

.conclusion-pic-row3 > div:nth-child(2) {
  background-color: #b8bbff;

}


/*----------------------------Reflection-----------------------*/

.reflection {
  display: grid;
  grid-column: span 12;
  height: 200px;
  background-color: #b8fffa;


}
/*-----------------------------------footer------------------------------*/

.footer {
  background-color:  #6452ad;
  grid-column: span 12;
}


/*----------------------------------MEDIA QUERIES------------------------*/



/*Desktop*/
@media only screen and (max-width: 1440px){

  .container {
    width: 1440px;
    margin: 0 auto;
  }

}

/*laptop
@media only screen and (max-width: 1200px){

}
*/

/*tablets*/
@media only screen and (max-width: 768px){

  .container {
    width: auto;
  }

  .product-container {
    display: block;

  }

  .project-specs {
    display: block;
  }

  .comp-analysis {
    display: block;
  }

  .user-survey-stats {
    display: block;
  }

  .top-uses-cloud {
    display: block;
  }

  .user-persona {
    display: block;
  }

  .sketch-pics {
    display: block;
  }

  .wireframes1 {
    display: block;
  }

  .wireframes2 {
    display: block;
  }

  .wireframes3 {
    display: block;
  }

  .user-test-pic {
    display: block;
  }

  .user-test-pic-a {
    display: block;
  }

  .canopy-principles {
    display: block;
  }

  .preference-test-new {
    display: block;
  }

  .preference-test-link {
    display: block;
  }

  .preference-test-success {
    display: block;

  }

  .user-test-round2-change {
    display: block;
  }

  .conclusion-pic-row1 {
    display: block;
  }

  .conclusion-pic-row2 {
    display: block;
  }

  .conclusion-pic-row3 {
    display: block;
  }

}
